<section class="py-8 border-b inner-border">
    <h3
        class="text-xs font-black uppercase border-b-2 dark:border-slate-100 mb-6 pb-1 border-[#1a472a] flex items-center gap-2">
        <span class="material-symbols-outlined text-sm">photo_library</span>
        Ediciones EGALyC 1987-2025
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Vintage printing press" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/1.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Río Claro SP, Brasil 1987</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Quiet morning in the city" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/2.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Montevideo, Uruguay, 1989</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Detail of Brutalist facade" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/3.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Toluca, México, 1991</p>
        </div>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Vintage printing press" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/4.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Merida, Venezuela, 1993</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Quiet morning in the city" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/5.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">La Habana, Cuba, 1995</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Detail of Brutalist facade" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/6.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Buenos Aires, Argentina, 1997</p>
        </div>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Vintage printing press" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/7.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Merida, Venezuela, 1993</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Quiet morning in the city" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/8.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">La Habana, Cuba, 1995</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Detail of Brutalist facade" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/9.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Buenos Aires, Argentina, 1997</p>
        </div>
    </div>
    
    
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Vintage printing press" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/10.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Merida, Venezuela, 1993</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Quiet morning in the city" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/11.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">La Habana, Cuba, 1995</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Detail of Brutalist facade" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/12.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Buenos Aires, Argentina, 1997</p>
        </div>
    </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Vintage printing press" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/13.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Merida, Venezuela, 1993</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Quiet morning in the city" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/14.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">La Habana, Cuba, 1995</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Detail of Brutalist facade" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/15.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Buenos Aires, Argentina, 1997</p>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Vintage printing press" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/16.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Merida, Venezuela, 1993</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Quiet morning in the city" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/17.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">La Habana, Cuba, 1995</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Detail of Brutalist facade" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/18.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Buenos Aires, Argentina, 1997</p>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Vintage printing press" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/19.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">Merida, Venezuela, 1993</p>
        </div>
        <div class="space-y-2">
            <div class="p-1 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 shadow-sm">
                <img alt="Quiet morning in the city" class="w-full grayscale brightness-90 contrast-125"
                    src="./portadas/20.png" />
            </div>
            <p class="text-[11px] leading-tight text-slate-600 dark:text-slate-400 font-bold italic uppercase">La Habana, Cuba, 1995</p>
        </div>
    </div>

</section>