


<section>
<h3 class="text-xs font-black uppercase border-b-2 dark:border-slate-100 mb-4 pb-1 border-[#1a472a]">Tendencias</h3>
<ul class="space-y-4 text-sm">
<li>
<a class="group" href="#">
<span class="text-primary font-bold">01.</span>
<p class="group-hover:underline leading-tight mt-1">Los efectos del cambio climático en la región</p>
</a>
</li>
<li>
<a class="group" href="#">
<span class="text-primary font-bold">02.</span>
<p class="group-hover:underline leading-tight mt-1">El aumento del nivel del mar</p>
</a>
</li>
<li>
<a class="group" href="#">
<span class="text-primary font-bold">03.</span>
<p class="group-hover:underline leading-tight mt-1">Prácticas de Agricultura Sostenible en el Nordeste</p>
</a>
</li>
</ul>
</section>
<section>
<h3 class="text-xs font-black uppercase border-b-2 dark:border-slate-100 mb-4 pb-1 border-[#1a472a]">Fundador</h3>
<div class="space-y-4">
<div class="group cursor-pointer">
<img class="w-full grayscale brightness-90 contrast-125 mb-2" data-alt="Vintage urban street with classic architecture" src="fc.png"/>
<h4 class="font-bold text-sm leading-tight group-hover:text-primary">Dr. Fernando Carreto Bernal</h4>
</div>
<div class="group cursor-pointer">
<h4 class="font-bold text-sm leading-tight group-hover:text-primary">Coordinador del OGALyC</h4>
</div>
</div>
</section>

