<!-- Footer -->
<footer class="py-12 border-t-4 dark:border-slate-100 mt-10 border-[#1a472a]">
    <div
        class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-8 text-xs uppercase font-bold tracking-widest text-slate-500">
        <div class="space-y-2">
            <p class="dark:text-slate-100">Sections</p>
            <ul class="space-y-1">
                <li><a class="hover:text-primary" href="#">World</a></li>
                <li><a class="hover:text-primary" href="#">Politics</a></li>
                <li><a class="hover:text-primary" href="#">Business</a></li>
            </ul>
        </div>
        <div class="space-y-2">
            <p class="dark:text-slate-100">About</p>
            <ul class="space-y-1">
                <li><a class="hover:text-primary" href="#">Our History</a></li>
                <li><a class="hover:text-primary" href="#">Newsroom</a></li>
                <li><a class="hover:text-primary" href="#">Ethics</a></li>
            </ul>
        </div>
        <div class="space-y-2">
            <p class="dark:text-slate-100">Support</p>
            <ul class="space-y-1">
                <li><a class="hover:text-primary" href="#">Help Center</a></li>
                <li><a class="hover:text-primary" href="#">Contact Us</a></li>
                <li><a class="hover:text-primary" href="#">Site Map</a></li>
            </ul>
        </div>
        <div class="lg:col-span-3 text-right flex flex-col items-end justify-between">
            <h2 class="text-2xl font-black dark:text-slate-100">THE VINTAGE GAZETTE</h2>
            <p class="mt-4 italic font-normal normal-case text-slate-400">© 1994-2024 The Vintage Gazette Media Group.
                No part of this publication may be reproduced without express written permission.</p>
        </div>
    </div>
</footer>