<!-- Footer -->
<footer class="py-12 border-t-4 dark:border-slate-100 mt-10 border-[#1a472a]">
<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-8 text-xs uppercase font-bold tracking-widest text-slate-500">
<div class="space-y-2">
<p class="dark:text-slate-100">Ejes temáticos</p>
<ul class="space-y-1">
<li><a class="hover:text-primary" href="#">Enseñanza</a></li>
<li><a class="hover:text-primary" href="#">Socioeconómico</a></li>
<li><a class="hover:text-primary" href="#">Tecnológia</a></li>
<li><a class="hover:text-primary" href="#">Ambiental</a></li>
<li><a class="hover:text-primary" href="#">Teoria y métodos</a></li>
</ul>
</div>
<div class="space-y-2">
<p class="dark:text-slate-100">Secciones</p>
<ul class="space-y-1">
<li><a class="hover:text-primary" href="#">Eventos</a></li>
<li><a class="hover:text-primary" href="#">Foro</a></li>
<li><a class="hover:text-primary" href="#">Noticias</a></li>
<li><a class="hover:text-primary" href="#">Censo</a></li>
<li><a class="hover:text-primary" href="#">Glosario</a></li>
</ul>
</div>
<div class="space-y-2">
<p class="dark:text-slate-100">Mas sacciones</p>
<ul class="space-y-1">
<li><a class="hover:text-primary" href="#">Sitios relacionados</a></li>
<li><a class="hover:text-primary" href="#">Memorias</a></li>
<li><a class="hover:text-primary" href="#">Trabajos de tesis</a></li>
</ul>
</div>
<div class="lg:col-span-3 text-right flex flex-col items-end justify-between">
<h2 class="text-2xl font-black dark:text-slate-100">OGALyc</h2>
<p class="mt-4 italic font-normal normal-case text-slate-400">© 1994-2026 Observatorio Geográfico de América Latina y El Caibe todos los derechos reservados.</p>
</div>
</div>
</footer>
