<app-header></app-header>

<div class="grid grid-cols-1 lg:grid-cols-12 gap-0 border-b newspaper-border">

    <aside class="lg:col-span-2 border-r newspaper-border p-4 space-y-8 order-2 lg:order-1">
        <app-leftsidebar></app-leftsidebar>
    </aside>

    <!-- Main Content -->
    <main class="lg:col-span-7 p-6 border-r newspaper-border order-1 lg:order-2">
        <router-outlet></router-outlet>
    </main>


    <!-- Right Sidebar -->
    <aside class="lg:col-span-3 p-4 space-y-8 order-3">
        <app-rigthsidebar></app-rigthsidebar>
    </aside>

    



</div>

<app-footer></app-footer>

